<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redridgeapps.callutils">

    <application>

        <service
            android:name=".services.CallingService"
            android:permission="android.permission.FOREGROUND_SERVICE" />

        <service
            android:name=".services.Mp3ConversionService"
            android:permission="android.permission.FOREGROUND_SERVICE" />

        <service
            android:name=".services.AudioEndsTrimmingService"
            android:permission="android.permission.FOREGROUND_SERVICE" />

        <service
            android:name=".services.RecordingSwitchTileService"
            android:icon="@drawable/ic_stat_name"
            android:label="Call Recording"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>

    </application>

</manifest>
